.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.contato form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 10%;
}

.contato form h1 {
    color: #FF4081;
    font-size: 35px;
    margin-bottom: 10%;
}

.nome, 
.email,
.mensagem {
    margin: 0 0 2% 0;
    padding: 2% 3%;
    border: 1px solid #686868;
    border-radius: 7px;
    font-family: 'Ubuntu', sans-serif;
}

.contato form button {
    width: 20%;
    background-color: #FF4081;
    color: #FFFFFF;
    padding: 1.2%;
    margin-top: 2%;
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid #FF4081;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
}

.contato form button:hover {
    background-color: #FFFFFF;
    border-color: #FF4081;
    color: #FF4081;
    cursor: pointer;
}

@media screen and (max-width: 800px) {

    .contato {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .contato form {
        margin: 5% 0;
        width: 70%;
    }

    .contato form h1 {
        margin-bottom: 3%;
    }

    .nome, 
    .email,
    .mensagem {
        font-size: 20px;
    }

    .contato form button {
        font-size: 20px;
    }

    .ilustra-contato img {
        height: 300px;
    }
}

@media screen and (max-width: 480px) {

    .contato form {
        width: 80%;
    }

    .contato form button {
        padding: 1% 5%;
        width: 30%;
    }
}

